.App {
  text-align: center;
  /* justify-content: space-around; */
  margin: 5em auto;
  max-width: 70rem;
}

.App form {
  width: 70rem;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5rem;
  margin-bottom: 3rem;
}

.App form input {
  margin: 10px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.all-container {
  display: flex;
  flex-wrap: wrap;
  /* align-self: auto; */
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.board-list {
  display: flex;
  max-width: 80rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.all-container #category {
  width: 10rem;
}

nav {
  background-color: #333;
  width: 100vw;
  height: 7.1rem;
}

.nav-bar {
  max-width: 70rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar :first-child {
  margin-right: auto;
}


.nav-bar button {
  margin: 50px;
}

.nav-bar img {
  width: 100px;
  height: auto;
}

.nav-bar ul li {
  display: inline;
}



.entry-card {
  display: flex;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 5px;
  padding: 10px;
  height: 13rem;
  width: 13rem;
  color: #fff;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.entry-card:hover {
  filter: brightness(2);
  box-shadow: 5px 5px 5px #555;
}
