.App {
  text-align: center;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #09d3ac;
} */

.all-container {
  margin: 5em;
}

.main-container {
  margin: 10px;
}

.nav-bar {
  background-color: #333;
  color: #fff;
  width: 100%;
  display: inline-block;
}

.nav-bar img {
  width: 100px;
  height: auto;
}

.nav-bar ul li {
  display: inline;
}

.board-list {
 display: inline-flex;
 flex-wrap: wrap;
 align-items: center;
}

.entry-card {
  font-size: 1.2em;
  margin: 10px;
  padding: 5px;
  height: 10em;
  width: 10em;
  color: #fff;
  font-weight: 900;
  /* -webkit-text-stroke: 1px #eee; */

}
